extends ../layout
block content
    include ../includes/navbar
    div.card(style="margin-top: 3rem; padding:0.5rem; margin-bottom:1rem; border-radius:10px; border-color:black; width: 40%")
        div.card-body
            h1 City:    #{city} 
            h2 Street:  #{street} #{number}
            h4 Postal Code: #{postal_code}