extends ../layout
block content
    include ../includes/navbar
    .container
    .row
        .col
            .card.bg-dark(style="margin-top: 3rem; margin-left:2rem; padding:1rem; margin-bottom:1rem; border: 3px inset grey; width: 70%")
                .card-body(style="color: lightgrey;")
                    h1 City:    #{city} 
                    h2 Street:  #{street} #{number}
                    h4 Postal Code: #{postal_code}
        .col(style="margin-right: 3rem; margin-top: 2rem;")
            h4(style="margin-bottom: 1rem; text-align: center;") Products sold per category
            #store_sales_per_category_chart
            script(type ='text/babel' src="../js/charts/storeSalesPerCategoryChart.js")    
    .row
        