form(action="/", method="post")    
    table
        tr
            td Email
            td 
                input(type="text" name="email" required="required")
        tr  
            td Password
            td  
                input(type="password" name="password" required="required")
        tr  
            td
            td
                input(type="submit" value="Login")