nav.navbar.navbar-expand-lg.navbar-light(style="background-color: #F5F5F5")
        a.navbar-brand(href='#') Bad Analytics
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon    
        div.collapse.navbar-collapse(id='navbarNavDropdown')
            ul.navbar-nav.float-left
                li.nav-item.active
                    a.nav-link(href='/dashboard') Dashboard
                li.nav-item-dropdown
                    a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Products
                    .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                        a.dropdown-item(href="#") Action
                        a.dropdown-item(href="#") Another action
                        div.dropdown-divider
                        a.dropdown-item(href="#") Something else here          
                li.nav-item
                    a.nav-link(href='#') Stores
                li.nav-item
                    a.nav-link(href='#') Customers
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Account
                    .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                     a.dropdown-item(href='/') Logout
            