extends layout
block content
    include includes/navbar
    .row
      .col
        h4 Percentage per category
        .chart-container(style="width: 100%; margin-top: 2rem; margin-bottom: 2rem; padding: 1rem;")
          #top_selling_spots_chart
          script(type="text/babel" src=".././js/dashboardCharts/topSellingSpotsChart.js")
      .col
        h4 Frequently bought together   
        .chart-container(style="width: 100%; margin-top: 2rem; margin-bottom: 2rem; padding: 1rem;")
          #frequently_bought_together_chart
          script(type="text/babel" src=".././js/dashboardCharts/freqBoughtTogetherChart.js")
    .row
      .col
        h4 Most visited hours per age bracket   
        .chart-container(style="width: 100%; margin-top: 2rem; margin-bottom: 2rem; padding: 1rem;")
          br
          #visiting_hours_per_age_chart
          script(type="text/babel" src=".././js/dashboardCharts/visitingHoursPerAgeChart.js")