extends layout
block content
    p Me to pou erxesai edw ginetai drop database kai create opote perimene 5-6s prin pathseis to init 
    a.button.btn.btn-dark(style="font-size: x-large; padding: 1rem; margin: 2rem 1rem 1rem 2rem; border-radius:15px;" href="/init_db" type="button") Initialize Database