extends layout
block content
    script(src="./js/loading.js")
    .container
        .row
            .col
                h3(style="margin: 2rem 1rem 0.8rem 1rem; padding: 0.5rem;") Building Database from DDL files
        .row
            .col
                .spinner-border.text-dark(style="margin: 1rem 1rem 2rem 1.3rem; padding:0.5rem;")
        .row
            .col
                p(style="margin: 0.8rem 1rem 1rem 1rem; padding: 0.5rem;") Genika auto to exw fixed sta 3 lepta giati argei to laptop mou (kai apo to terminal kanei 2 lepta sxedon), sto pc einai komple ~20-30s 