extends layout
block content
    script(src="./js/loading.js")
    .container
        .row
            .col
                h3(style="margin: 2rem 1rem 0.8rem 1rem; padding: 0.5rem;") Loading Database...
        .row
            .col
                .spinner-border.text-dark(style="margin: 1rem 1rem 2rem 1.3rem;")
        .row
            .col
                p(style="margin: 0.8rem 1rem 1rem 1rem; padding: 0.5rem;") Genika auto to exw fixed sta 3 lepta giati argei gama ta to laptop mou (kai apo to terminal omws), sto pc einai komple (katw apo 10s), an thes na to testareis allakse tin wait sto public/js/loading.js   