extends ../layout
block content
    .container(style="width: 50%")
        .row
            form 
            .col
                h3(style="text-align: center; margin-bottom: 1rem; padding 0.5rem;") Add Product  
                .form-group
                    input#barcode.form-control(placeholder='Barcode' name='barcode')    
                .form-group
                    input#price.form-control(placeholder='Price' name='price')
                .form-group
                    input#name.form-control(placeholder='Product Name' name='name')
                .form-group
                    input#brand.form-control(placeholder='Brand' name='brand')    
                .form-group
                    input(type='text' name='category' list='categoryList')
                    datalist#categoryList
                        option.form-control(value="1")  Fresh
                        option.form-control(value="2")  Frozen
                        option.form-control(value="3")  Liquors and Spirits
                        option.form-control(value="4")  Self Care
                        option.form-control(value="5")  Home
                        option.form-control(value="6")  Pets 
        .row(style='margin: 2rem 30% 1rem 30%;')
            .col
                a.button.btn.btn-dark(style="padding: 1rem; margin-right: 1.5rem; border-radius:15px;" href="/products" type="button") Back        
                button.btn.btn-dark(style=" padding: 1rem; border-radius:15px;" id='submit-btn' type='submit' onClick="addProduct()") Add 
                script(src="../js/products/crudProduct.js")