extends ../layout
block content
    script(src="../js/products/crudProduct.js")
    .container(style="width: 60%")
        .row
            form 
            .col
                h3(style="text-align: center; margin-bottom: 1rem; padding 0.5rem;") Add Product  
                .form-group
                    input#barcode.form-control(placeholder='Barcode' name='barcode')    
                .form-group
                    input#price.form-control(placeholder='Price' name='price')
                .form-group
                    input#name.form-control(placeholder='Product Name' name='name')
                .form-group
                    input#brand.form-control(placeholder='Brand' name='brand')    
                .form-group
                    input(type='text' name='category' list='categoryList')
                    datalist#categoryList
                        option.form-control(value="1")  Fresh
                        option.form-control(value="2")  Frozen
                        option.form-control(value="3")  Liquors and Spirits
                        option.form-control(value="4")  Self Care
                        option.form-control(value="5")  Home
                        option.form-control(value="6")  Pets 
        .row(style='margin: 2rem 30% 1rem 30%;')
            .col
                a.btn.btn-dark(style="width:100%;" href="/products" type="button")
                    i.fas.fa-long-arrow-alt-left        
            .col    
                button.btn.btn-success(style="width:100%;" id='submit-btn' type='submit' onClick="addProduct()")
                    i.fas.fa-plus-circle 