extends ../layout
block content
    script(src="../js/products/crudProduct.js")
    .container(style="width: 70%")
        .row
            form(id="editForm")
            .col(style="margin-right: 2rem;")
                .form-group
                    h3 Select product to delete
                    input(type='text' name='product' list='productsList')
                    datalist#productsList   
                        each prod in products
                            option.form-control(value=`${prod.Barcode}`) #{prod.Name} 
        .row(style='margin: 2rem 30% 1rem 30%;')
            .col
                a.btn.btn-dark(href="/products" type="button")
                    i.fas.fa-long-arrow-alt-left
            .col
                button.btn.btn-danger(id='submit-btn' type='submit' onClick="deleteProduct()")
                    i.fa.fa-trash