extends ../layout
block content
    include ../includes/navbar
    div.btn.btn-group-vertical
        a.btn.btn-primary(href= "/products/addProduct" role="button") Add Product
        a.btn.btn-primary(href= "/products/addProduct" role="button") Add Product