extends ../layout
block content
    include ../includes/navbar
    div.btn.btn-group-vertical
        a.btn.btn-primary.btn-block(href= "/products/addProduct" role="button") Add New Product
        a.btn.btn-primary.btn-block(href= "/products/editProduct" role="button") Edit Existing Product       
        