extends ../layout
block content
    include ../includes/navbar
    link(rel='stylesheet', href='/stylesheets/stores.css')
    .container(style="position: relative;  margin-top: 2rem;")
        .row
            a.btn.btn-dark.btn-block(href= "/products/addProduct" role="button" style="width:30%;") Add New Product
        .row
            a.btn.btn-dark.btn-block(href= "/products/editProduct" role="button" style="margin-top: 0rem; width:30%;") Edit Product       
        .row
            a.btn.btn-dark.btn-block(href= "/products/deleteProduct" role="button" style="margin-top: 0rem; width:30%;") Delete Product       
                        